/* HEADER */
header{
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    background-color: white;
}

/* MAIN */
/* PRESENTAZONE */
.section1{
    background-color: #b4d0e7;
    padding: 100px 0;
    margin: 100px 0;
}

/* PIANI DI ABBONAMENTO */
.plans > div{
    border: 1px solid #ececed;
    width: 30%;
    margin: 30px 0;
}

.enterprise-plan{
    border: 1px solid #ececed;
    width: 100%;
}

/* FUNZIONI */
.section3 > .partner-finder{
    margin-bottom: 100px;
}

.section3 > .partner-finder > div:first-child{
    width: 60%;
}

.section3 > .partner-finder > div:last-child{
    width: 40%;
}

.section3 .first-row > div,.second-row > div{
    width: 30%;
    margin-top: 20px;
}

/* AZIENDE PARTNER */
.section4 .companies{
    width: 100vw;
    height: calc(100vw / 3);
}

.section4 .brands{
    flex-wrap: wrap;
}

.section4 .companies > div{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.section4 .brands > div{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.section4 .trial{
    background-color: #b4d0e7;
    padding: 100px 0;
}