/* HEADER */
header{
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    background-color: white;
}

/* MAIN */
/* PRESENTAZONE */
.section1{
    background-color: #b4d0e7;
    padding: 60px 0;
    margin-top: 70px;
}