/* HEADER */
header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0 20px;
    background-color: white;
    z-index: 30;
}

header li{
    padding: 20px 0;
}

header a{
    padding: 20px 10px;
    margin-left: 10px;
}

header button > a{
    margin-left: 0;
}

/* MAIN */
/* PRESENTAZONE */
.section1{
    background-color: #b4d0e7;
    margin-top: 62px;
}

.section1 > .container-big{
    position: relative;
    top: 75px;
}

h1{
    font-weight: bolder;
    font-size: 4em;
    margin-bottom: 70px;
}

.section1 .row{
    align-items: flex-start;
}

.section1 .text{
    width: 30%;
}
.section1 button{
    margin: 40px 0;
}

.section1 .fa-solid{
    margin-top: 70px;
}

.section1 .img{
    width: 70%;
}

.section1 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* PIANI DI ABBONAMENTO */
.section2 h2{
    font-size: 2em;
}

.section2 .radio-buttons{
    justify-content: flex-start;
    margin: 40px 0;
}

.section2 .radio-buttons > div{
    border: 4px solid #0061ff;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.section2 .radio-buttons > .radio-gray{
    border: 2px solid #d8d8db;
    margin-left: 30px;
}

.section2 .col-plan{
    border: 1px solid lightgray;
    width: 32%;
    margin: 30px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section2 .plan-user{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    align-self: stretch;
    text-align: center;
}

.section2 .plan-title, .plan-description, p, .plan-hl{
    padding: 30px;
}

.section2 .plan-title > div:last-child{
    color: gray;
}

.section2 .middle-son-margin{
    margin: 20px 0;
}

.section2 button{
    align-self: center;
    width: 80%;
}

.section2 .col-plan > p > a{
    text-decoration: underline;
    color: #1032f0;
}

.section2 .col-plan > hr{
    width: 55px;
    border-color: lightgray;
    margin-left: 30px;
}

.section2 .fa-check{
    color: #0061ff;
    align-self: flex-start;
    padding: 2px;
}

.section2 .after-check{
    padding: 0;
}

.sos-24h{
    justify-content: flex-start;
}

.enterprise-plan{
    border: 1px solid #ececed;
    width: 100%;
}

/* FUNZIONI */
.section3 > .partner-finder{
    margin-bottom: 100px;
}

.section3 > .partner-finder > div:first-child{
    width: 60%;
}

.section3 > .partner-finder > div:last-child{
    width: 40%;
}

.section3 .first-row > div,.second-row > div{
    width: 30%;
    margin-top: 20px;
}

/* AZIENDE PARTNER */
.section4 .companies{
    width: 100vw;
    height: calc(100vw / 3);
}

.section4 .brands{
    flex-wrap: wrap;
}

.section4 .companies > div{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.section4 .brands > div{
    width: 50%;
    height: 50%;
}

.section4 .trial{
    background-color: #b4d0e7;
    padding: 100px 0;
}

/* FAQ */
.section5{
    margin-bottom: 100px;
}

.section5 .faq > div{
    width: 100%;
}

/* FOOTER */
footer{
    background-color: #000000;
    padding: 70px 0 20px;
}

footer hr{
    color: #b8b8b8;
    margin: 70px 0 20px;
}

footer nav{
    width: 20%;
}